In [1]:
import pandas as pd
df = pd.read_csv("spam.csv")
df.head(5)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [2]:
len(df.Category)

5572

In [3]:
df.groupby(df.Category).describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [4]:
df['Spam'] = df['Category'].apply(lambda x : 1 if x=='spam' else 0)
df.head()

  Category                                            Message  Spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message, df.Spam, test_size=0.25)

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:5]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [7]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count, y_train)

MultinomialNB()

In [8]:
emails = [
    'Hey mohan, can we get together to watch football game tommorrow',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]

emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [9]:
X_test_count = v.transform(X_test)
y_predicted = model.predict(X_test_count)

In [15]:
print(X_test_count)

  (0, 989)	1
  (0, 4084)	1
  (1, 899)	1
  (1, 946)	1
  (1, 1849)	1
  (1, 2927)	1
  (1, 3823)	1
  (1, 4535)	4
  (1, 4554)	1
  (1, 4801)	1
  (1, 4941)	1
  (1, 5783)	1
  (1, 6089)	1
  (1, 6422)	1
  (1, 6598)	1
  (1, 7114)	1
  (1, 7148)	1
  (2, 1864)	1
  (2, 2463)	1
  (2, 3205)	1
  (2, 4286)	1
  (2, 6684)	1
  (2, 7131)	1
  (2, 7154)	1
  (3, 1770)	1
  :	:
  (1390, 6545)	1
  (1390, 7214)	1
  (1390, 7461)	1
  (1390, 7466)	1
  (1391, 810)	1
  (1391, 946)	1
  (1391, 1899)	1
  (1391, 3894)	1
  (1391, 4869)	1
  (1391, 5159)	1
  (1391, 5913)	1
  (1391, 6714)	1
  (1391, 7305)	1
  (1391, 7391)	1
  (1392, 1660)	1
  (1392, 1864)	1
  (1392, 2319)	1
  (1392, 2413)	1
  (1392, 3529)	1
  (1392, 3697)	1
  (1392, 4884)	1
  (1392, 6100)	1
  (1392, 6714)	1
  (1392, 7139)	1
  (1392, 7436)	1

In [10]:
y_predicted[:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [11]:
model.score(X_test_count, y_test)

0.9877961234745154

In [12]:
email = ['Hey mohan, can we get together to watch football game tommorrow']
email_count = v.transform(email)
model.predict(email_count)

array([0], dtype=int64)

In [16]:
print(email_count)

  (0, 1603)	1
  (0, 2862)	1
  (0, 2989)	1
  (0, 3036)	1
  (0, 3325)	1
  (0, 6714)	1
  (0, 6725)	1
  (0, 7155)	1
  (0, 7174)	1

In [27]:
import joblib

joblib.dump(model, "email_spam_cls_model.pkl")

['email_spam_cls_model.pkl']

In [13]:
import pickle

pickle.dump(model, open('model.pkl', 'wb'))

In [17]:
from sklearn.pipeline import Pipeline

pipeline = Pipeline([
    ('cv', CountVectorizer()),
    ('model', MultinomialNB())
])

pipeline.fit(X_train, y_train)

Pipeline(steps=[('cv', CountVectorizer()), ('model', MultinomialNB())])

In [18]:
pipeline.score(X_test, y_test)

0.9877961234745154

In [19]:
pickle.dump(pipeline, open('pipeline.pkl', 'wb'))